ion-slides{
  height: 100%;
  width: 100%;
  color: black;
}
#titulo{
  font-size: 80px;
  font-weight: lighter;
}
#p1{
  margin-left: 18px;
  margin-right: 18px;
  font-weight: lighter;
  font-size: 35px;
}
#p2{
  margin-left: 16px;
  margin-right: 16px;
  font-weight: lighter;
  font-size: 35px;
}
#p3{
  margin-left: 18px;
  margin-right: 18px;
  font-weight: lighter;
  font-size: 35px;
}
#img1{
  height: 302px;
  width: 295px;
}
#img2{
  height: 330px;
  width: 330px;
  margin-top: 20px;
}
#img3{
  height: 270px;
  width: 350px;
  margin-bottom: 20px;
}
#img4{
  height: 300px;
  width: 330px;
  margin-top: 40px;
}
#btn{
  margin-top: 100px;
  font-size: 20px;
}