<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <div>
        <img id="img1" src="assets/img/logo.png" alt="">
        <h3 id="titulo">COLASY</h3>
      </div>
    </ion-slide>
    <ion-slide>
      <div>
        <h3 id="p1">CALOSY es tu sistema de 
          geolocalización que te ayudara a 
          tener controlado tu ganado.</h3>
        <img id="img2" src="assets/img/p1.png" alt="">
      </div>
    </ion-slide>
    <ion-slide>
      <div>
        <img id="img3" src="assets/img/p2.png" alt="">
        <h3 id="p2">CALOSY te ayudara a saber con
          exactitud donde se encuentra
          tu animal en tiempo real.</h3>
      </div>
    </ion-slide>
    <ion-slide>
      <div>
        <h3 id="p3">¿Estas listo para poder tener
          todo el control de tu ganado
          en tus manos?</h3>
        <img id="img4" src="assets/img/p3.png" alt="">
        <ion-button size="large" id="btn" fill="outline" shape="round" (click)="navegacionlogin()">
          Empezar
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-slide>
  </ion-slides> 
</ion-content>